$background-color: #f5f5f5;

// $dark-primary: #2196f3;
// $light-primary: #bbdefb;

// $primary-color: #64b5f6;
// $text-color: #ffffff;

// $accent-color: #03a9f4;

// $primary-text: #212121;
// $secondary-text: #757575;
// $divider-text: #bdbdbd;

$primary-color: #3f51b5;
$dark-primary: #303f9f;
$light-primary: #c5cae9;

$text-color: #ffffff;
$accent-color: 536dfe;

$primary-text: #212121;
$secondary-text: #757575;
$divider-text: #bdbdbd;

// These animation modules will be included in output css
$use-fadeIn: true;
$use-fadeInRight: true;
$use-fadeInLeft: true;
$use-zoomIn: true;

$animation-time: 225ms;
